html, body {
	height: 100%;
}

#wrapper, #page-wrapper {
	height: 100%;
}

.editorArea {
	height: 70%;
}

.editorArea>div:not(.optionPanel), .editorArea>div:not(.optionPanel)>.panel , .editorArea>div:not(.optionPanel)>.panel>.panel-body {
	height:100%;
}

.editorArea>div:not(.optionPanel)>.panel>.panel-body {
	padding:0;
}

.editorButtons button {
	margin-bottom: 1px;
}

div.optionPanel {
	position: absolute;
	display: none;
}