html, body {
	height: 100%;
}

#wrapper, #page-wrapper {
	height: 100%;
}

.editorArea {
	height: 70%;
}

.editorArea>div, .editorArea>div>.panel , .editorArea>div>.panel>.panel-body {
	height:100%;
}

.editorArea>div>.panel>.panel-body {
	padding:0;
}

.editorButtons button {
	margin-bottom: 1px;
}