.editorContainer {
	background: #2F2F33;
}

.editor_wrapper {
		width : 95%;
		height: 1024px;		
		border: 1px solid black
}
.photoButton {
	display: inline-block;		
	height: 20px;
	border: 1px solid red;
	color: white;
}